

.rows {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    border: 1px solid;
}

.row { 
    display: flex;
    flex: 1;
}


.square {
    border: 1px solid;
    flex: 1;
}